# PostgreSQL
POSTGRES_DB=novobanco
POSTGRES_USER=novobanco
POSTGRES_PASSWORD=novobanco123
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_EMAIL=admin@novobanco.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# Application
APP_PORT=8080
